<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <nav id="global_navi">
        <div class="left">
            <h2>日報管理システム</h2>
            <a href="/employee/list">従業員管理</a>
            <a href="">日報管理</a>
        </div>
        <div class="right">
            <div><span th:text="${employeeName}">Employee Name</span>さん</div>
            <form method="post" th:action="@{/logout}" id="logout-form">
            <a href="#" class="logout-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">ログアウト</a>
            </form>
        </div>
    </nav>
    <h1>id:<span th:text="${employee.id}"></span> の従業員情報 詳細ページ</h1>
    <table>
        <tr>
            <td>社員番号</td>
            <td th:text="${employee.authentication.code}"></td>
        </tr>
        <tr>
            <td>氏名</td>
            <td th:text="${employee.name}"></td>
        </tr>
        <tr>
            <td>権限</td>
            <td th:text="${employee.authentication.role}"></td>
        </tr>
        <tr>
            <td>登録日時</td>
            <td th:text="${#temporals.format(employee.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td>更新日時</td>
            <td th:text="${#temporals.format(employee.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
    <a th:href="@{/employee/update/{id}/(id=${employee.id})}">この従業員情報を編集する</a><br>
    <a href = "/employee/list">一覧に戻る</a>
</body>
</html>