<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <div th:replace="navi"></div>
    <h1>id:<span th:text="${employee.id}"></span> の従業員情報 編集ページ</h1>
    <p>(パスワードは変更する場合のみ入力してください)</p>

    <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}" th:object="${employee}">
        <label for="code">社員番号</label>
        <br>
        <input type="hidden" id="authentication.code" name="authentication.code" th:text="*{authentication.code}" th:field="*{authentication.code}" >
        <br>

        <label for="name">氏名</label>
        <br>
        <input type="text" th:field="*{name}" th:errorclass="err">
        <span th:errors="*{name}" class="err"></span>
        <br>

        <label for="password">パスワード</label>
        <br>
        <input type="password" th:field="*{authentication.password}">
        <br>

        <label for="role">権限</label>
        <br>
        <select th:field="*{authentication.role}">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}" th:selected="*{authentication.role} == ${item}">
            </option>
        </select>
        <br>
        <input type="submit" value="投稿">
    </form>
    <a th:href="@{/employee/delete/{id}/(id=${employee.id})}">この従業員を削除する</a><br>
    <a href = "/employee/list">一覧に戻る</a>
</body>
</html>