@charset "UTF-8";

a {
  text-decoration: none;
}

table {
    border-collapse: collapse;
}

th, td {
    border: solid 1px black;
    padding: 10px 20px;
}

label {
    display: inline-block;
    width: 8em;
    line-height: 150%;
}

.err {
    color: red;
}