<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>日報管理システム</title>
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
    <body>
        <div th:replace="navi"></div>
        <h1>日報管理システムへようこそ</h1>
        <h3>自分の日報 一覧</h3>
    <table class="list">
        <tr>
            <th>氏名</th>
            <th>日付</th>
            <th>タイトル</th>
            <th>操作</th>
        </tr>
        <tr th:each="data : ${reportlist}">
            <td th:text="${data.employee.name}"></td>
            <td th:text="${data.reportDate}"></td>
            <td th:text="${data.title}"></td>
            <td>
                <a th:href="@{/report/report_detail/{id}/(id=${data.id})}">詳細を見る</a>
            </td>
        </tr>
    </table>
    <p>（全 <span th:text="${reportCount}"></span> 件）</p>
    <a th:href="@{/report/report_register}">新規日報の登録</a>
    </body>
</html>